# Large data directories
outputs/
pretrained_models/
save/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Checkpoints & weights
*.pth
*.ckpt
*.pt

# IDE
.vscode/
.idea/
external/FaceVerse/data/faceverse_simple_v2.npy
